//BOOTSTRAP

label {
    font-weight: normal;
    font-family: $open-sans-bold;
}

.navbar-default .navbar-brand {
    color: $primary-color;
    &:hover, &:focus {
        color: $primary-color;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background: $primary-color;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    .icon-bar {
        background: $second-color;
    }
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color-dark;
    &:hover {
        background-color: $primary-color-dark;
        border-color: $primary-color-darker;
    }
    &:focus, &:focus:active {
        background-color: $primary-color-dark;
        border-color: $primary-color-darker;
    }
}

//WORDPRESS
.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignleft {
    float: left;
    margin-right: $number * 3;
}

.alignleft, .aligncenter, .alignright {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

//NextGen
.ngg-galleryoverview {
    text-align: center!important;
}

.ngg-gallery-thumbnail-box {
    float: none!important;
    display: inline-block!important;
}

.ngg-gallery-thumbnail img {
    width: 150px!important;
}

//contact-form-7
span.wpcf7-not-valid-tip {
    color: #f92c28!important;
}
