//override
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }

    .vertical-align {
        display: table;
        width: 100%;
        margin: 0!important;
        >* {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }
    }
}