.header {
    background-color: $grey-color;
}

.header-nav {
    background-color: $second-color;
    .navbar {
        margin-bottom: 0;
        text-transform: uppercase;
    }
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
    }
    .navbar-default .navbar-nav>li>a {
        color: $write-color;
        &:hover {
            color: $primary-color;
        }
    }
}