$dark-color: #23282d;
$white-color: #fff;
$grey-color: #f0f0f2;
$grey-color-dark: darken($grey-color,5%);
$grey-color-darker: darken($grey-color,10%);

$primary-color: #ebc22c;
$primary-color-light: lighten($primary-color,15%);
$primary-color-dark: darken($primary-color,15%);
$primary-color-lighter: lighten($primary-color,30%);
$primary-color-darker: darken($primary-color,30%);

$second-color: #cc0000;
$second-color-light: lighten($second-color,10%);
$second-color-dark: darken($second-color,10%);
$second-color-lighter: lighten($second-color,20%);
$second-color-darker: darken($second-color,20%);

$number: 3px;

//fonts
$open-sans-regular: 'OpenSans Regular';
$open-sans-bold: 'OpenSans Bold';
$open-sans-semibold: 'OpenSans Semibold';