$dark-color: #23282d;
$write-color: #fff;
$grey-color: #f0f0f2;
$greylight-color: lighten($grey-color,5%);

$primary-color: #ebc22c;
$primary-color-light: lighten($primary-color,15%);
$primary-color-dark: darken($primary-color,15%);
$primary-color-lighter: lighten($primary-color,30%);
$primary-color-darker: darken($primary-color,30%);

$second-color: #891d1a;
$second-color-light: lighten($primary-color,15%);
$second-color-dark: darken($primary-color,15%);
$second-color-lighter: lighten($primary-color,30%);
$second-color-darker: darken($primary-color,30%);

$number: 3px;

//fonts
$open-sans-regular: 'OpenSans Regular'